accordion-heading {
    .item-md {
        padding: 0;
    }
    ion-label.label-md {
        padding: 2.3rem 2.3rem 2.3rem 3rem;
        margin: 0;
        font-size: 2rem;
        font-weight: bold;
        position: relative;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        display: block; // border-bottom: 1px solid color($colors, light-gray);
    }
    ion-icon {
        position: absolute;
        top: 24px;
        right: 20px;
    }
}