page-home {
    textarea {
        width: 100%;
    }
    ion-card {
        background-color: #efefef;
        ion-avatar {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            overflow: hidden;
        }
        h1 {
            text-transform: uppercase;
            font-weight: bold;
        }
        h2 {
            font-weight: bold;
        }
        .time-stat {
            position: relative;
            padding: 0;
            margin-bottom: 5px;
            font-weight: bold;
            span {
                position: relative;
            }
        }
        .early {
            .background {
                background-color: color($colors, secondary);
            }
        }
        .late {
            .background {
                background-color: color($colors, danger);
            }
        }
        .ot {
            .background {
                background-color: color($colors, primary);
            }
        }
        .background {
            margin-left: 80px;
            width: 0;
            display: block;
            position: absolute;
            top: 0;
            left: 0; // width: 0;
            height: 100%; // z-index: 1;
        }
    }
    .item-md {
        padding: 0;
        border-bottom: 1px solid lightgray;
        h2 {
            text-transform: uppercase; // font-weight: bold;
        }
    }
    .swiper-container {
        overflow: auto;
    }
}