<ion-header>
    <ion-navbar>
        <ion-title>
            LPG Express Time logs
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <h3>Generate report</h3>
    <ion-list>
    
        <ion-item>
            <ion-label floating>Number of sms to read</ion-label>
            <ion-input type="number" [ngModel]="noOfMsgsToFetch"  (ngModelChange)="noOfMsgsToFetch = $event"></ion-input>
        </ion-item>
    </ion-list>
    
    <button ion-button color="danger" (click)="getData()">Get Data (hard coded test data)</button>
    <button ion-button color="danger" (click)="generateReport()">All</button>
    <button ion-button color="danger" (click)="generateLeg1Report()">Leg1</button>
    <button ion-button color="danger" (click)="generateLeg2Report()">Leg2</button>
    <button ion-button color="danger" (click)="generateDrgReport()">Daraga</button>
    <button ion-button color="danger" (click)="generateOasReport()">Oas</button>
    <button ion-button color="danger" (click)="generateGuinobatanReport()">Guinobatan</button>
    <button ion-button color="danger" (click)="generateLigaoReport()">Ligao</button>

    <div class="report-generated" *ngIf="reportGenerated">
        <div *ngFor="let user of uniqueUsers">
            <ion-card>
                <ion-card-content>
                    <ion-avatar>
                        <img src="assets/imgs/{{user.name}}-{{user.branch}}.png">
                    </ion-avatar> 
                    <ion-card-title>
                        <h1>{{user.name}} </h1>
                        <h2>{{user.branch}}</h2>
                    </ion-card-title>
                    <div class="time-stat early">
                        <div class="background" [style.width]="user.early+'%'"></div>
                        <span>Early {{user.early}}m</span>
                    </div>
                    <div class="time-stat late">
                        <div class="background" [style.width]="user.late+'%'"></div>
                        <span>Late {{user.late}}m</span>
                    </div>
                    <div class="time-stat ot">
                        <div class="background" [style.width]="user.overtime+'%'"></div>
                        <span>OT {{user.overtime}}m</span>
                    </div>
                    <div class="time-stat total-attendanace">
                        <span>Total attendance {{user.attendance}}</span>
                        
                    </div>
                    <div class="time stat date-range"> 
                        <span>Date range {{user.timelogs[0].date}} - {{user.timelogs[user.timelogs.length-1].date}} </span>
                    </div>
                    <accordion>
                        <accordion-item>
                            <accordion-heading>More details...</accordion-heading>
                            <accordion-content>
                                <ion-list>
                                    <ion-item *ngFor="let item of user.timelogs">
                                        <h2>{{item.name}} </h2>
                                        <h3>{{item.fulldatetime}}</h3>
                                        <h4 *ngIf="item.activity == 'IN'">Sched:{{item.sched}}</h4>

                                        <ion-badge>{{item.branch}}</ion-badge>
                                        <ion-badge [color]="item.activity == 'IN' ? 'secondary' : 'dark'">{{item.activity}}</ion-badge>

                                        <ion-badge *ngIf="item.early" color="secondary" item-end>Early {{item.early}}m for {{item.sched}}</ion-badge>
                                        <ion-badge *ngIf="item.late" color="danger" item-end>Late {{item.late}}m after {{item.sched}}</ion-badge>
                                        <ion-badge *ngIf="item.overtime" item-end>OT {{item.overtime}}m</ion-badge>
                                        <p *ngIf="item.justification">{{item.justification}}</p>
                                    </ion-item>
                                </ion-list>
                            </accordion-content>
                        </accordion-item>
                    </accordion>
                </ion-card-content>
            </ion-card>


        </div>
        <!-- <ion-list no-padding>
            <ion-item *ngFor="let item of uniqueUsers" no-padding>
                <h2>{{item.name}} </h2> 
                <ion-badge>{{item.branch}}</ion-badge> 
                <p color="secondary" >Early {{item.early}}m</p>
                <p color="danger" >Late {{item.late}}m </p>
                <p>OT {{item.overtime}}m</p>
            </ion-item>
        </ion-list>
        <hr> -->
        <!-- <h3>Details</h3>

        <ion-list no-padding>
            <ion-item *ngFor="let item of timelogs" no-padding>
                <h2>{{item.name}} </h2>
                <h3>{{item.date}}</h3>
                <h4 *ngIf="item.activity == 'IN'">Sched:{{item.sched}}</h4>

                <ion-badge>{{item.branch}}</ion-badge>
                <ion-badge [color]="item.activity == 'IN' ? 'secondary' : 'dark'">{{item.activity}}</ion-badge>

                <ion-badge *ngIf="item.early" color="secondary" item-end>Early {{item.early}}m for {{item.sched}}</ion-badge>
                <ion-badge *ngIf="item.late" color="danger" item-end>Late {{item.late}}m after {{item.sched}}</ion-badge>
                <ion-badge *ngIf="item.overtime" item-end>OT {{item.overtime}}m</ion-badge>
                <p *ngIf="item.justification">{{item.justification}}</p>
            </ion-item>
        </ion-list>
        <hr> -->
        <accordion>
            <accordion-item>
                <accordion-heading>
                    Raw data
                </accordion-heading>
                <accordion-content>
                    <label for="">Raw data</label>
                    <textarea name="" id="" cols="30" rows="10">{{rawdata}}</textarea>
                    <label for="">Processed data</label>
                    <textarea name="" id="" cols="30" rows="10">{{data}}</textarea>
                </accordion-content>
            </accordion-item>
        </accordion>
    </div>
</ion-content>